/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
:root {
  --accent-color: #0d0d0d;
  --bs-gray-100: #f3f3f3;
  --bs-gray-200: #e7e5e2;
  --bs-primary: #787d62;
  --bs-secondary: #F6F5F2;
  --bs-primary-rgb: 120, 125, 98;
  --bs-body-bg-rgb: 246, 245, 242;
  --bs-light: #fff;
  --bs-dark: #000;
  --navbar-color-color: #131814;
  --swiper-theme-color: #fff !important;
  --swiper-pagination-color: #787d62 !important;
}

/* 1. Header
/*----------------------------------------------*/
.site-header {
  z-index: 10;
  transition: background 0.3s ease-out;
}

.navbar-nav .nav-item a.nav-link {
  color: var(--accent-color);
}

.navbar-nav .nav-item a.nav-link.active,
.navbar-nav .nav-item a.nav-link:focus,
.navbar-nav .nav-item a.nav-link:hover {
  color: var(--bs-primary);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--bs-secondary);
}

/*------------ Offcanvas -------------- */
#header-nav .navbar-toggler:focus {
  box-shadow: none;
}
#header-nav .offcanvas.show {
  z-index: 9999;
  background-color: var(--bs-light);
}
#header-nav .offcanvas-end {
  width: 500px;
}

.offcanvas.show .nav-item a.nav-link {
  font-size: 2em;
}

.offcanvas.show .offcanvas-body .navbar-nav {
  align-items: unset !important;
  padding-left: 20px;
}

/*------------ Top User Icons -----------*/
.site-header .user-items svg {
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  #navbar .user-items {
    display: none;
  }
}
.news_Swiper {
  width: 100%;
  height: 50vw;
  max-height: 600px;
  max-width: 890px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.box {
  width: 100%;
  height: 50vw;
  max-height: 600px;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  .box {
    max-height: unset;
    height: 150vw;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.sub_Swiper .txtBox {
  width: 40%;
  position: relative;
  top: 20%;
  left: 0%;
  transition: all 0.25s 0.2s !important;
  opacity: 0;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .sub_Swiper .txtBox {
    top: 5%;
    width: 90%;
  }
}
.sub_Swiper .bg, .sub_Swiper .bg div {
  width: 100%;
  height: 100%;
}
.sub_Swiper .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.sub_Swiper .bg div {
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
  transition: -webkit-clip-path 1s 0s !important;
  transition: clip-path 1s 0s !important;
  transition: clip-path 1s 0s, -webkit-clip-path 1s 0s !important;
}
.sub_Swiper .cover {
  width: 50%;
  position: relative;
  z-index: 0;
  /* bottom: 0; */
  top: -5%;
  left: 35%;
  opacity: 0.8;
}
@media only screen and (max-width: 991px) {
  .sub_Swiper .cover {
    top: unset;
    bottom: 10%;
    position: absolute;
    width: 55%;
    left: 2%;
  }
}
.sub_Swiper .cover img {
  width: 100%;
}
.sub_Swiper .swiper-slide-active .bg div {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}
@media only screen and (max-width: 991px) {
  .sub_Swiper .swiper-slide-active .bg div {
    -webkit-clip-path: unset;
            clip-path: unset;
  }
}
.sub_Swiper .swiper-slide-active .txtBox {
  left: 10%;
  opacity: 1;
}

.max_Swiper {
  position: absolute !important;
  max-width: 60%;
  width: auto;
  height: 95%;
  top: 10%;
  /* max-height: 500px; */
  /* left: 64%; */
  right: 0%;
  /* transform: translate(-50%,-50%); */
}
@media only screen and (max-width: 991px) {
  .max_Swiper {
    max-width: 100%;
    height: 75%;
    top: unset;
    bottom: 0;
    right: -3%;
  }
}
.max_Swiper.swiper-3d .swiper-slide-shadow-right, .max_Swiper.swiper-3d .swiper-slide-shadow-left {
  background-image: unset !important;
}
.max_Swiper img {
  opacity: 0;
  width: auto;
  height: 100%;
}
.max_Swiper .swiper-slide-next img {
  opacity: 1;
}
.max_Swiper .swiper-slide-active img {
  opacity: 1;
}

footer a {
  color: inherit;
  text-decoration: none;
}/*# sourceMappingURL=main2.css.map */